.container {
  margin-top: 25px;
}

.ui .header {
  text-align: center;
}

form {
  margin: 30px;
}

.field-around-btn {
  justify-content: center;
  padding: 10px;
}

.image {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.success-buttons {
  margin-top: 15px;
  text-align: center;
}