.container {
  margin-top: 25px;
  margin-bottom: 60px;
}

.ui .header {
  text-align: center;
}

.subheader {
  text-align: center;
}

form {
  margin: 30px;
}

.field-around-btn {
  justify-content: center;
  padding: 10px;
}

.image {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.message-outer-div {
  margin-top: 40px;
  text-align: center;
}

.success-buttons {
  margin-top: 15px;
  text-align: center;
}

.bottom-spacer {
  height:  50px;
}

.footer {
  z-index: 2;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e0e1e2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}