.container {
  margin-top: 25px;
  margin-bottom: 60px;
}

.ui .header {
  text-align: center;
}

.subheader {
  text-align: center;
}

form {
  margin: 30px;
}

.field-around-btn {
  justify-content: center;
  padding: 10px;
}

.image {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.message-outer-div {
  margin-top: 40px;
  text-align: center;
}

.success-buttons {
  margin-top: 15px;
  text-align: center;
}

#network-popup {
  position: absolute;
  display: none;
}

/* Tooltip text */
#network-popup-text {
  width: 200px;
  background-color: #e0e1e2;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}


.bottom-spacer {
  height:  50px;
}

.footer {
  z-index: 2;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e0e1e2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}